%nsd:
  device={{ gpfs_nsd_device }}
  nsd=nsd1disk
  servers={{ gpfs_primary_server }},{{ gpfs_secondary_server }}
  usage=dataAndMetadata
  failureGroup=1

%nsd:
  device={{ gpfs_nsd_device }}
  nsd=nsd2disk
  servers={{ gpfs_secondary_server }},{{ gpfs_primary_server }}
  usage=dataAndMetadata
  failureGroup=2
